{% load static %}
{% block content %}

<link rel="stylesheet"
      href="{% static 'shenova.css' %}">
<div class="container-card">

<h2>Add Money</h2>

<div class="wallet-box">
    <p>Wallet Balance</p>
    <h3>₹{{ profile.account_balance }}</h3>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    <input type="number" name="amount" placeholder="Enter amount" required>
    <button class="btn">Add Money</button>
</form>

<a href="{% url 'student_dashboard' %}" class="back-btn">← Back</a>

</div>
{% endblock %}