{% load static %}
{% block content %}

<link rel="stylesheet"
      href="{% static 'shenova.css' %}">

<!-- SIDEBAR -->
<div class="sidebar">
<h2>🎓 SheNova</h2>

<a href="{% url 'admin_dashboard' %}">🏠 Dashboard</a>
<a href="{% url 'admin_applications' %}">📄 Applications</a>
<a href="{% url 'admin_transactions' %}">💳 Transactions</a>
<a href="{% url 'admin_fund' %}">💰 Fund Management</a>
<a href="{% url 'logout' %}">🚪 Logout</a>
</div>

<!-- MAIN -->
<div class="main">

<h2>Admin Dashboard</h2>

<!-- STATS -->
<div class="stats">

<div class="stat-box">
<h3>₹{{ fund.total_fund }}</h3>
<p>Total Fund</p>
</div>

<div class="stat-box">
<h3>₹{{ fund.available_fund }}</h3>
<p>Available</p>
</div>

<div class="stat-box">
<h3>{{ total_apps }}</h3>
<p>Total Applications</p>
</div>

<div class="stat-box">
<h3>{{ released_count }}</h3>
<p>Funded Loans</p>
</div>

</div>

<!-- ALERT -->
{% if fund.available_fund < 20000 %}
<div class="alert">
⚠ Low Fund Warning!
</div>
{% endif %}

<!-- TABLE -->
<div class="card">

<h3>Recent Loan Applications</h3>

<div class="table-container">

<table>
<tr>
<th>Student</th>
<th>Amount</th>
<th>Risk</th>
<th>Emergency</th>
<th>Priority</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for app in applications %}
<tr>

<td>{{ app.student.username }}</td>
<td>₹{{ app.amount_requested }}</td>

<td>
{% if app.amount_requested > 5000 %}
<span class="badge risk-high">High</span>
{% else %}
<span class="badge risk-low">Low</span>
{% endif %}
</td>

<td>
{% if app.is_emergency %}
<span style="color:#ef4444;">🔴 Emergency</span>
{% else %}
<span style="color:#22c55e;">🟢 Normal</span>
{% endif %}
</td>

<td>
{% if app.priority_level == "Critical" %}
<span style="color:#ef4444;">Critical</span>
{% elif app.priority_level == "High" %}
<span style="color:#f97316;">High</span>
{% elif app.priority_level == "Medium" %}
<span style="color:#facc15;">Medium</span>
{% else %}
<span style="color:#22c55e;">Low</span>
{% endif %}
</td>

<td>
{% if app.status == "Funded" %}
<span class="badge released">Funded</span>

{% elif app.status == "Final Approved" %}
<span class="badge approved">Final Approved</span>

{% elif app.status == "Approved" %}
<span class="badge pending">Supervisor Approved</span>

{% elif app.status == "Pending" %}
<span class="badge pending">Pending</span>

{% elif app.status == "Rejected" %}
<span class="badge rejected">Rejected</span>

{% else %}
<span class="badge">{{ app.status }}</span>
{% endif %}
</td>

<td>

{% if app.status == "Approved" %}
    <a href="{% url 'admin_approve_application' app.id %}" class="btn">
        Release Funds
    </a>

{% elif app.status == "Pending" %}
    <span style="color:#facc15; font-weight:600;">
        Waiting Approval
    </span>

{% elif app.status == "Funded" %}
    <span style="color:#22c55e; font-weight:600;">
        Funded
    </span>

{% elif app.status == "Rejected" %}
    <span style="color:#ef4444; font-weight:600;">
        Rejected
    </span>

{% else %}
    <span style="color:#64748b;">No Action</span>
{% endif %}

</td>

</tr>

{% empty %}
<tr>
<td colspan="7" class="empty">No Applications Found</td>
</tr>
{% endfor %}

</table>

</div>
</div>

</div>

{% endblock %}