{% load static %}
{% block content %}

<link rel="stylesheet"
      href="{% static 'shenova.css' %}">

<div class="sidebar">
<h2>🎓 SheNova</h2>

<a href="{% url 'admin_dashboard' %}">🏠 Dashboard</a>
<a href="{% url 'admin_applications' %}">📄 Applications</a>
<a href="{% url 'admin_transactions' %}">💳 Transactions</a>
<a href="{% url 'admin_fund' %}">💰 Fund Management</a>
<a href="{% url 'logout' %}">🚪 Logout</a>
</div>

<div class="main">

<h2>Fund Management 💰</h2>

<div class="card">

<p class="fund-text"><strong>Total Fund:</strong> ₹{{ fund.total_fund }}</p>
<p class="fund-text"><strong>Available Fund:</strong> ₹{{ fund.available_fund }}</p>

</div>

</div>

{% endblock %}