{% load static %}
{% block content %}

<link rel="stylesheet"
      href="{% static 'shenova.css' %}">

<div class="auth-card">

<h3>Forgot Password</h3>
{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'error' %}alert-danger
            {% endif %}
            text-center mt-3">
            
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST">
{% csrf_token %}

<input class="form-control" type="text" name="username" placeholder="Enter Username" required>

<button type="submit" class="auth-btn">Send Reset Link</button>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{% if success %}
<p class="success">{{ success }}</p>
{% endif %}

</form>
<div class="text-center mt-3">
    <a href="{% url 'login' %}">← Back to Login</a>
</div>
</div>

{% endblock %}