{% load static %}
{% block content %}

<style>
body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    min-height:100vh;

    background: url("{% static 'images/login_bg2.png' %}") no-repeat center center;
    background-size: cover;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */
.auth-card{
    background:white;
    border-radius:20px;
    padding:30px;
    width:380px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    text-align:center;
}

.auth-card h3{
    margin-bottom:20px;
    color:#1e3a8a;
}

/* INPUT */
.form-control{
    border-radius:12px;
    border:1px solid #e5e7eb;
    padding:12px;
    font-size:14px;
    background:#f8fafc;
    margin-bottom:15px;
    width:100%;
}

.form-control:focus{
    border-color:#3b82f6;
    box-shadow:0 0 0 2px rgba(59,130,246,0.2);
    background:white;
}

/* BUTTON */
.auth-btn{
    width:100%;
    border-radius:12px;
    padding:12px;
    font-weight:600;
    background:#2563eb;
    color:white;
    border:none;
}

.auth-btn:hover{
    background:#1d4ed8;
}

/* MESSAGES */
.error{
    color:red;
    margin-top:10px;
}

.success{
    color:green;
    margin-top:10px;
}
</style>

<div class="auth-card">

<h3>Forgot Password</h3>
{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'error' %}alert-danger
            {% endif %}
            text-center mt-3">
            
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST">
{% csrf_token %}

<input class="form-control" type="text" name="username" placeholder="Enter Username" required>

<button type="submit" class="auth-btn">Send Reset Link</button>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{% if success %}
<p class="success">{{ success }}</p>
{% endif %}

</form>
<div class="text-center mt-3">
    <a href="{% url 'login' %}">← Back to Login</a>
</div>
</div>

{% endblock %}