{% load static %}

{% block content %}

<link rel="stylesheet"
      href="{% static 'shenova.css' %}">
<div class="container-card">

<h2>Complete Payment</h2>

<div class="wallet-box">
    <p>Amount to Pay</p>
    <h3>₹{{ amount }}</h3>
</div>

<button id="pay-btn" class="btn pay-btn">
    Pay Now
</button>

<a href="{% url 'student_dashboard' %}" class="back-btn">Cancel</a>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ payment.amount }}",
    "currency": "INR",
    "name": "Student Loan System",
    "description": "Wallet Top-up",
    "order_id": "{{ payment.id }}",

    "handler": function (response){
        window.location.href = "/payment-success/?payment_id=" + response.razorpay_payment_id +
                               "&order_id=" + response.razorpay_order_id;
    }
};

var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>
{% endblock %}