{% load static %}

{% block content %}

<link rel="stylesheet"
      href="{% static 'shenova.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">



<div class="sidebar">

    <h2>🎓SheNova</h2>

    <a href="{% url 'student_dashboard' %}">
        🏠 Dashboard
    </a>

    {% if can_apply %}
        <a href="{% url 'student_apply' %}">
            💰 Apply Loan
        </a>
    {% else %}
        <span>
            🔒 Apply Locked<br>
            Repay ₹{{ remaining_to_unlock|floatformat:2 }}
        </span>
    {% endif %}

    <a href="{% url 'student_transactions' %}" class="active">
        🔄 Transactions
    </a>

    <button onclick="toggleTheme()">
        🌙 Appearance
    </button>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">
            🚪 Logout
        </button>
    </form>

</div>

<!-- MAIN -->
<div class="main">

<div class="card">

<h2>💳 My Transactions</h2>

<table>
<tr>
<th>Date</th>
<th>Type</th>
<th>Amount</th>
</tr>

{% for t in transactions %}
<tr>
    <!-- ✅ FIX: DATE FORMAT -->
    <td>{{ t.date|date:"d M Y" }}</td>
    <td>{{ t.type }}</td>
    <td>₹{{ t.amount }}</td>
</tr>
{% empty %}
<tr>
<td colspan="3">No transactions</td>
</tr>
{% endfor %}

</table>

<br>
<a href="{% url 'student_dashboard' %}" class="btn">Back</a>

</div>
</div>

<script>
function toggleTheme(){
    document.body.classList.toggle("light");
}
</script>

{% endblock %}